{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% comment %}
Wagtail likes to have a title (headline), but we don't need it here. The title's
still available for use later downpage though; {{ self.title }}
{% endcomment %}
{% block headline %}{% endblock %}

{% block content %}
    {% if self.body %}
        <div class="body-content">
            {% include "home/includes/streamfield.html" %}
        </div> <!-- /.body-content -->
    {% endif %}
{% endblock %}
