{% load blog_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# External stylesheets #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/celebrate.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- ************************************************* -->
        <!-- ************          DFP          ************** -->
        <!-- ************************************************* -->

            <link rel="stylesheet" href="http://advertising.registerguard.com/assets/hosted/css/ads.css">

            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
            <script>
                var googletag = googletag || {};
                googletag.cmd = googletag.cmd || [];
            </script>

            <script>

                googletag.cmd.push(function() {

                    // Set up size mapping
                    var mapping = googletag.sizeMapping()
                        .addSize([0, 0], [320, 50]) // Default banner is mobile banner (320x50)
                        .addSize([1005, 100], [728, 90]) // On C breakpoint (>1005px) show desktop banner (728x90)
                        .build();

                    googletag.defineSlot('/30582678/RGM/news', [[320, 50], [728, 90]], 'leaderboard-top')
                        .setTargeting('pos', ['atf'])
                        .defineSizeMapping(mapping)
                        .addService(googletag.pubads());
                    googletag.defineSlot('/30582678/RGM/news', [300, 250], 'medium-rectangle-1')
                        .setTargeting('pos', ['atf','rgm_one'])
                        .addService(googletag.pubads());

                    // KVPs
                    googletag.pubads().setTargeting('rgm_subcat',['rgm_150'])
                    //googletag.pubads().setTargeting('page-type','article');

                    // General stuff
                    googletag.pubads().enableSingleRequest();
                    googletag.pubads().collapseEmptyDivs();
                    googletag.enableServices();
                    
                });

            </script>

        <!-- ************************************************* -->
        <!-- ************          /DFP         ************** -->
        <!-- ************************************************* -->

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        <div class="main container">

            <!-- //////////////////// Leaderboard Top  -->
            <div style="padding: 1rem;">
                <div class="advert"><div id="leaderboard-top" data-google-query-id="CNO289fjjtICFVeSfgodQ0oI8w"><script>googletag.cmd.push(function() { googletag.display('leaderboard-top'); });</script><div id="google_ads_iframe_/30582678/RGM/news_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/30582678/RGM/news_0" title="3rd party ad content" name="google_ads_iframe_/30582678/RGM/news_0" width="320" height="50" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe></div></div></div>
            </div>
            <!--  Leaderboard Top //////////////////// -->

            {% block headline %}
                <div class="page-header">
                    <h1>{{ self.title }}</h1>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

        </div>

        {# External javascript #}
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/celebrate.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- [BEGIN] Google Analytics -->
        {% if not request.is_preview %}

            <script>(function(r,g,n,e,w,s){r.GoogleAnalyticsObject=e;r[e]||(r[e]=function(){(r[e].q=r[e].q||[]).push(arguments)});r[e].l=+new Date;w=g.createElement(n);s=g.getElementsByTagName(n)[0];w.src='//www.google-analytics.com/analytics.js';s.parentNode.insertBefore(w,s)}(window,document,'script','ga'));ga('create','UA-882065-1','registerguard.com');ga('require','displayfeatures');ga('require','linkid','linkid.js');ga('send','pageview');</script>

        {% endif %}
        <!-- [BEGIN] Google Analytics -->

    </body>
</html>
