{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% if page.body %}
        <div class="body-content">

            <div class="stream-field">

                {% for child in page.body %}
                    {% if child.block_type == 'title' %}
                        <div class="page-header">
                            <h1>{{ child }}</h1>
                        </div>
                    {% elif child.block_type == 'image' %}
                        {% image child.value width-1140 as theimage %}
                        <figure class="figure img-wrapper img-fluid">
                            <img src="{{ theimage.url }}" alt="{{ theimage.alt }}" style="max-width: 100%; height: auto;" />
                            <figcaption class="figure-caption">
                                {{ child.value.title }}
                            </figcaption>
                        </figure>
                    {% elif child.block_type == 'paragraph' %}
                        {{ child }}
                    {% endif %}
                {% endfor %}

            </div>

        </div> <!-- /.body-content -->
    {% endif %}

{% endblock %}
