{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}template-suggest{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro|richtext }}

    <form class="form-horizontal" action="." enctype="multipart/form-data" method="POST">

        {% csrf_token %}

        {{ formset.management_form }}
        {{ formset|crispy }}

        {{ form|crispy }}

        <button class="btn btn-primary" type="submit">Send us a memory</button>

    </form>

{% endblock %}
