@font-face {
    font-family: "RGWeb";
    src: url("http://fonts.registerguard.com/rg/rgweb.eot");
    src: url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
    url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
    url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
    url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
    font-weight: normal;
    font-style: normal;
}

@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700";

body {
  /*min-height: 2000px;*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #000;
}

.navbar-inverse .navbar-header .navbar-brand {
    font-family: "RGWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}

.navbar-brand {
    font-size: 34px;
    line-height: 1em;
    height: auto;
}

@media (max-width: 767px) {
    .navbar-right img {
    display: none;
    }
}

.navbar-nav {
    text-transform: uppercase;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.body-content {
    clear: both;
    margin-bottom: 1em;
    overflow: hidden;
    width: 100%;
}
/*.body-content img {
    margin-bottom: 2%;
    margin-top: 2%;
}*/
.body-content img.full-width {
    width: 100%;
}
.body-content img.left {
    float: left;
    margin-right: 5%;
    width: 45%;
}
.body-content img.right {
    float: right;
    margin-left: 5%;
    width: 45%;
}
.body-content h1, .body-content h2, .body-content h3, .body-content h4, .body-content h5 {
    clear: both;
}
.img-wrapper {
    margin-bottom: 2em;
    position: relative;
}
.img-wrapper img{
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.img-wrapper.left {
    float: left;
    margin-right: 5%;
    width: 35%;
}
.img-wrapper.right {
    float: right;
    margin-left: 5%;
    width: 30%;
}
h1 {
    text-rendering: optimizeLegibility;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: 600;
}
.intro {
    font-size: 1.4em;
    line-height: 1.5em;
}
figcaption {
    /*background: #f2f2f2 none repeat scroll 0 0;*/
    font-family: Cambria,Georgia,serif;
    bottom: 5px;
    color: #3d3d3d;
    /*display: inline-block;*/
    font-size: 1.15em;
    font-style: italic;
    font-weight: 400;
    left: 5px;
    margin: 1em auto;
    /*max-width: calc(100% - 10px);*/
    padding: 0.2em 1em;
    position: relative;
    z-index: 2;
}
figcaption p {
    margin: 0 !important;
}
blockquote {
    margin: 2em 0;
}
blockquote span {
    color: #aaa;
    display: block;
    font-size: 0.8em;
}
a.list-group-item {
    clear: both;
    overflow: hidden;
    width: 100%;
}
a.list-group-item .list-group-item-text {
    margin-top: 1%;
}
a.list-group-item .list-group-item-text img {
    float: left;
    margin-bottom: 1%;
    margin-right: 2%;
}
.col-sm-4.pages {
    text-align: center;
}
.col-sm-4.next {
    text-align: right;
}
.main {
    min-height: 700px;
    padding-top: 122px;
}
@media (max-width: 767px) {
    .main {
    padding-top: 66px;
    }
}

.page-header {
    margin: 20px 0;
}

/*.carousel {
    margin-bottom: 15px;
}
.carousel .carousel-caption {
    background-color: rgba(0, 127, 127, 0.6);
    padding-top: 0;
}
.carousel .carousel-caption .btn {
    margin-bottom: 10px;
}*/
p {
    text-align: left;
}
p:last-child {
    margin-bottom: 0;
}
