@font-face {
	font-family: "RGWeb";
	src: url("http://fonts.registerguard.com/rg/rgweb.eot");
	src: url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
		url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
		url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-inverse .navbar-header .navbar-brand {
    font-family: "RGWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}
